// Body
$body-background: #eee;
$secondary: #343a40;
$primary-color: #008ed6;
$dark-overlay: rgba(0,0,0,0.7);

// Typography
$font-family: "Roboto", sans-serif;
$font-color: #fff;
// $font-size: 0.9rem;
$line-height-base: 1.6;