/* ========================================
   	  ============ NAVBAR ===========
   ======================================== */

.login {
  border-radius: 15px;
  color: #333333;
  background: none;
  font-size: 14px;
  transition: background 500ms ease;
}

.login:hover{
  background: #f4f4f4;
}