$light: #9e9e9e;
$primary: #428bca;
$error: #ff2d26;

#registerContainer {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}

#registerCard {
  background: #fff;
  position: relative;
  width: 500px;
  border-radius: 15px;
  box-shadow: 0 16px 24px 2px rgba(0, 0,0, 0.1), 0 6px 10px 5px rgba(0, 0, 0, 0.1), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

#inputRegisterProgress {
  border-bottom: 1px solid $primary;
  width: 100%;
  transition: width 0.6s ease-in-out;
}

#inputRegisterName {
  position: relative;
  padding: 5px 5px 0px 5px;
  margin: 0px 5px 0px 5px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

        input {
          position: relative;
          width: 100%;
          border: none;
          font-size: 20px;
          font-weight: bold;
          outline: 0;
          background: transparent;
          box-shadow: none;
        }

      #inputRegisterNameLabel {
            position: absolute;
            pointer-events: none;
            top: 18px;
            left: 20px;
            font-size: 15px;
            font-weight: bold;
            transition: 0.2s ease-in-out;
      }

        input:valid + #inputRegisterNameLabel {
          top: 6px;
          left: 5px;
          margin-left: 0 !important;
          font-size: 14px;
          font-weight: normal;
          color: $light;
        }
}

#inputRegisterEmail {
      position: relative;
      padding: 5px 5px 0px 5px;
      margin: 0px 5px 0px 5px;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      input {
        position: relative;
        width: 100%;
        border: none;
        font-size: 20px;
        font-weight: bold;
        outline: 0;
        background: transparent;
        box-shadow: none;
      }
      
      #inputRegisterEmailLabel {
            position: absolute;
            pointer-events: none;
            top: 18px;
            left: 20px;
            font-size: 15px;
            font-weight: bold;
            transition: 0.2s ease-in-out;
      }

      input:valid + #inputRegisterEmailLabel {
        top: 6px;
        left: 5px;
        margin-left: 0 !important;
        font-size: 14px;
        font-weight: normal;
        color: $light;
      }

      #inputRegisterProgressEmail{
        border-bottom: 1px solid $primary;
        width: 100%;
        transition: width 0.6s ease-in-out;
      }
}

  #genderLabel {
        position: absolute;
        pointer-events: none;
        top: 18px;
        left: 20px;
        font-size: 15px;
        font-weight: bold;
        transition: 0.2s ease-in-out;
  }

#inputRegisterPassword {
  position: relative;
  padding: 5px 5px 0px 5px;
  margin: 0px 5px 0px 5px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

        input {
          position: relative;
          width: 100%;
          border: none;
          font-size: 20px;
          font-weight: bold;
          outline: 0;
          background: transparent;
          box-shadow: none;
        }
        
        #inputRegisterPasswordLabel {
              position: absolute;
              pointer-events: none;
              top: 18px;
              left: 20px;
              font-size: 15px;
              font-weight: bold;
              transition: 0.2s ease-in-out;
        }

        input:valid + #inputRegisterPasswordLabel {
          top: 6px;
          left: 5px;
          margin-left: 0 !important;
          font-size: 14px;
          font-weight: normal;
          color: $light;
        }

        #inputRegisterProgressPassword{
          border-bottom: 1px solid $primary;
          width: '';
          transition: width 0.6s ease-in-out;
        }
}

#inputRegisterConfirm {
  position: relative;
  padding: 5px 5px 0px 5px;
  margin: 0px 5px 0px 5px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;

        input {
          position: relative;
          width: 100%;
          border: none;
          font-size: 20px;
          font-weight: bold;
          outline: 0;
          background: transparent;
          box-shadow: none;
        }
        
        #inputRegisterConfirmLabel {
              position: absolute;
              pointer-events: none;
              top: 18px;
              left: 20px;
              font-size: 15px;
              font-weight: bold;
              transition: 0.2s ease-in-out;
        }

        input:valid + #inputRegisterConfirmLabel {
          top: 6px;
          left: 5px;
          margin-left: 0 !important;
          font-size: 14px;
          font-weight: normal;
          color: $light;
        }

        #inputRegisterProgressConfirm{
          border-bottom: 1px solid $primary;
          width: 100%;
          transition: width 0.6s ease-in-out;
        }
}